<div class="cv">
  <section class="leftSiteWrapper">
    <section class="contactInfo">
      <div class="contactBox">
        <img class="contactImg" src="assets/images/phone.webp" alt="phone">
        <a class="contactText" href="tel:+48664599088">+48 664 599 088</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/mail.webp" alt="phone">
        <a class="contactText" href="mailto:j.j.horbacz@gmail.com">j.j.horbacz&#64;gmail.com</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/city.webp" alt="city">
        <a class="contactText" href="https://www.google.com/maps/place/Lublin" target="_blank">Lublin</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/linkedin.webp" alt="linkedin">
        <a class="contactText" href="https://www.linkedin.com/in/jjhorbacz/"
          target="_blank">linkedin.com/in/jjhorbacz</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/github.webp" alt="github">
        <a class="contactText" href="https://github.com/jjhorbacz" target="_blank">github.com/jjhorbacz</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/site.webp" alt="site">
        <a class="contactText" href="https://www.cybermat.pl/projects/" target="_blank">cybermat.pl/projects</a>
      </div>
    </section>
    <section class="educationInfo">
      <h2>Wykształcenie</h2>
      <hr>
      <p><strong>Politechnika Lubelska</strong></p>
      <p><strong>mgr inż., mechatronika</strong></p>
      <p>2014-2019</p>
    </section>
    <section class="skillsInfo">
      <h2>Umiejetności</h2>
      <hr>
      <p>HTML</p>
      <p>CSS/SCSS/LESS</p>
      <p>JavaScript</p>
      <p>Angular</p>
      <p>Git</p>
    </section>
    <section class="languageInfo">
      <h2>Języki</h2>
      <hr>
      <p>Polski - ojczysty</p>
      <p>Angielski - B2</p>
      <p>Niemiecki - basic</p>
    </section>
  </section>
  <section class="rightSiteWrapper">
    <div class="employmentHistory">
      <h2>Doświadczenie</h2>
      <hr>
      <p class="workingTime">Marzec 2022 - obecnie</p>
      <h3 class="workingPlace">MINTI sp. z o.o.</h3>
      <div class="workingDuties">
        <p>Web developer. Pracownik dwuosobowego zespołu IT w firmie prowadzącej międzynarodowy e-commerce w branży
          kosmetycznej. Do moich obowiązków należało:</p>
        <ul>
          <li>przygotowanie landing pages sklepu internetowego mintishop.pl,</li>
          <li>implementacja skryptów wspierających działanie sklepu,</li>
          <li>przetwarzanie baz danych, bieżąca aktualizacja wyglądu i działania sklepu, </li>
          <li>współpraca z agencją SEO,</li>
          <li>przygotowanie wielu aukcji Allegro poprzez baselinker.</li>
        </ul>
      </div>
      <!--  <hr class="worksSlicer"> -->
      <p class="workingTime">Grudzień 2019 - Marzec 2022</p>
      <h3 class="workingPlace">Dieseltechnika sp. z o.o.</h3>
      <div class="workingDuties">
        <p>Kierownik działu IT. Kierowałem dwuosobowym zespołem odpowiedzialnym za planowanie i rozwój działań IT
          firmy.<br> Do moich obowiązków należało:</p>
        <ul>
          <li>zaplanowanie i przygotowanie projektu graficznego sklepu w oparciu o shoper.pl,</li>
          <li>zarządzanie e-commerce firmy,</li>
          <li>kontakt z programistami,</li>
          <li>planowanie dodatkowych funkcji wdrożonego oprogramowania bazodanowego Navireo,</li>
          <li>optymalizacja SEO serwisu dieseltechnika.com,</li>
          <li>przygotowanie wielu aukcji poprzez baselinker,</li>
          <li>zarządzanie siecią i sprzętem IT.</li>
        </ul>
      </div>
      <div class="vl"></div>
      <span class="dot"></span>
      <span id="dot1" class="dot"></span>
      <span id="dot2" class="dot"></span>
    </div>
    <div class="rodo">
      <hr>
      <div class="rodoTextWprapper">
        <p>Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu
          rekrutacji (zgodnie z ustawą z dnia 10 maja 2018 roku o ochronie danych osobowych (Dz. Ustaw z 2018, poz.
          1000) oraz zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r.
          w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu
          takich danych oraz uchylenia dyrektywy 95/46/WE (RODO).</p>
      </div>
    </div>
  </section>
  <section class="nameWrapper">
    <h1>Jakub Horbacz</h1>
  </section>
  <img class="myPhoto" src="assets/images/jh.webp" alt="my_picture">
  <button class="downloadButton" onclick="window.print();">Print</button>
</div>